{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class = "H1Div">
    <h1>Gebäudopoly</h1>
</div>

<div>
    <div>
        <form action = "/Ereignis" method = "get">
            <button type = "submit" style = "color:rgb(76, 194, 230)" class="btn btn-outline-dark">Ziehe eine Ereigniskarte!</button>
        </form>
    </div>

    <div>
        <form action = "/Schaden" method = "get">
            <button type = "submit" style = "color:rgb(76, 194, 230)" class="btn btn-outline-dark">Ziehe eine Schadenskarte!</button>
        </form>
    </div>

    <div>
        <p>
            
        </p>
    </div>
{% endblock %}