{% extends "layout.html" %}

{% block title %}
    Ereignis
{% endblock %}

{% block main %}
<div class = "H1Div">
    <h1>Gebäudopoly</h1>
</div>

<div style = "align-items: center;">
    <div class = "ereignisDiv">
        <form action = "/Ereignis" method = "get">
            <button type = "submit" style = "background-color:rgb(6,115,158); color: white" class="btn btn-outline-dark">Ziehe eine Ereigniskarte!</button>
        </form>
    </div>

    <div class = "schadenDiv">
        <form action = "/Schaden" method = "get">
            <button type = "submit" style = "background-color:rgb(6,115,158); color: white" class="btn btn-outline-dark">Ziehe eine Schadenskarte!</button>
        </form>
    </div>

    <div>
        <p class = "eventP">
            {{ event }}
        </p>
    </div>
{% endblock %}